
@{
    ViewBag.Title = "Bootstrap";
}

<style>
    .row {
        background-color: #F0DC82;
        padding-left: 15px !important;
    }
    #main {
        background-color: #CCCCFF;
    }
    #childDiv1,#childDiv2,#childDiv3 {
        background-color: #B57EDC;
        height:50px;
    }
</style>
<div class="row">
    <div id="childDiv1" class="col-md-4">
        col-md-4
    </div>
    <div id="childDiv2" class="col-md-4">
        col-md-4
    </div>
    <div id="childDiv3" class="col-md-4" style="text-align:right;">
        col-md-4
    </div>
</div>

