<connectionStrings>
  <add name="DefaultConnection"  connectionString="server=zeus; Initial Catalog=AspNetIdentity; database=IRPortal_20200107;User Id=sa;Password=VM@1234;Integrated Security=no;" providerName="System.Data.SqlClient" />
  <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=irspl;AccountKey=BLGUQvB4F/e/sKszniMZ8RvPJ9dQmM5bY37PDX0UoHgVdjrPPz2GRduV+5a4As36TuaHAIG1dcwZ1MiAYEyp0g==" />
</connectionStrings>