$bp-large:  "screen and (min-width: 1200px)";
$bp-medium: "screen and (min-width: 992px) and (max-width: 1199px)";
$bp-small:  "screen and (max-width: 991px)";
$bp-xsmall:  "screen and (max-width: 767px)";