/////////////////////////////////
//                             //
//   B A S E   C O L O U R S   //
//                             //
/////////////////////////////////

$app-bg-color-light:    #f6faff;


$navbar-bg:             #0079BF;
$navbar-link-color:     #ffffff;
$navbar-link-active:    #ffffff;
$navbar-link-active-bg: rgba(35, 50, 56, 0.4);
$navbar-link-active-bb: #F79423;



$sec-navbar-bg:         #e7f0fe;
$sec-navbar-color:      #566f99;
$sec-navbar-color-active: #233238;



$sidebar-bg:            #233238;
$sidebar-color:         #fff;

$sidebar-hover-bg:      #e7f0fe;
$sidebar-hover-color:   #233238;


$rt-header-bg:          #e7f0fe;
$rt-header-color:       #566f99;



$brand:                 #263D88;

$accent-darkest:        #2E58D6;
$accent-dark:           #5789FA;
$accent-medium:         #97BCFD;
$accent-light:          #C7DBFE;
$accent-lighter:        #E7F0FE;

$gray-blue-darkest:     #1D3F77;
$gray-blue-dark:        #566F99;
$gray-blue-medium:      #8396B4;
$gray-blue-light:       #B0BCD0;
$gray-blue-lighter:     #E3E8EE;
$gray-blue-lightest:    #F6F8FA;

$gray-darkest:          #233238;
$gray-dark:             #5A666A;
$gray-medium:           #868F92;
$gray-light:            #B2B8BA;
$gray-lighter:          #E4E6E7;
$gray-lightest:         #F6F7F7;

//$dark-tinting:          #233238;

$subtle-neutral-1:      #F9FCFE;
$subtle-neutral-2:      #F6FAFE;


$warning-hight-dark:    #C54A46;
$warning-high:          #FF5E59;
$warning-medium-dark:   #EF6C00;
$warning-medium:        #FFAC35;
$confirm-dark:          #07AB59;
$confirm:               #41E37E;

$highlight:             #F9FFB2;
$highlight-light:       #FBFFC6;
$highlight-alt:         #CDEDFF;
$highlight-alt-light:   #E6F6FF;

$white:                 #FFFFFF;
$transparent:           transparent;
$steel-blue:            #566f99;
$disabled-gray:            #c1c6c7;