@import "_global";


.ir-btn, .ReactTable .rt-tbody .rt-td {
    font-size: 16px;

    @media #{$bp-medium} {
        font-size: 14px;
    }
    @media #{$bp-small} {
        font-size: 14px;
    }
    @media #{$bp-xsmall} {
        font-size: 10px;
    }
}