/*************************************************************************************************/
/* Color variables                                                                               */
/*************************************************************************************************/

$color-background: #ffd800;




/*************************************************************************************************/
/* Size variables                                                                               */
/*************************************************************************************************/




/*************************************************************************************************/
/* eImpact misc styles                                                                                */
/*************************************************************************************************/

body {
    background-color: $color-background;
}



/*************************************************************************************************/
/* Top Navbar
/*************************************************************************************************/

.brand-logo {
    display: block;
    padding: 5px;
}


/*************************************************************************************************/
/* Sidebar Navbar
/*************************************************************************************************/

.pdsa-sn-wrapper {
    position: absolute;
    top: 3.6em;
    left: 0em;
    width: 13em;
    height: 100%;
    background-color: black;
}

.pdsa-sn-wrapper ul {
    width: 11em;
    list-style: none;
    margin-top: 2em;
    margin-left: 1em;
    padding: 0;
}