<connectionStrings>
  <add name="DefaultConnection" connectionString="server=zeus;database=IRPortal_20200107;User Id=sa;Password=VM@1234;Integrated Security=no;" providerName="System.Data.SqlClient" />
  <!--<add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=irportal;AccountKey=xVQtE1rp/Jw/N+jg89myteBS/PQgkiCWfqgJdB48oWgtj+rFfAF1jpnadjYR2na17ywCDIeSbdAupM/cqDk/KA==" />-->
  <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=irspl;AccountKey=BLGUQvB4F/e/sKszniMZ8RvPJ9dQmM5bY37PDX0UoHgVdjrPPz2GRduV+5a4As36TuaHAIG1dcwZ1MiAYEyp0g==" />
</connectionStrings>